# Not needed in git repository:
TIMESTAMP

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.make

bin
external/improv
external/pcre-7.9
external/pcre-8.33
makelist

hum2allegro.cpp
motive.cpp
rebar.cpp
updown.cpp

external/.z
external/pcre-8.35/.deps/
external/pcre-8.35/.libs/
external/pcre-8.35/Makefile
external/pcre-8.35/config.h
external/pcre-8.35/config.log
external/pcre-8.35/config.status
external/pcre-8.35/libpcre.pc
external/pcre-8.35/libpcre16.pc
external/pcre-8.35/libpcre32.pc
external/pcre-8.35/libpcrecpp.pc
external/pcre-8.35/libpcreposix.pc
external/pcre-8.35/libtool
external/pcre-8.35/pcre-config
external/pcre-8.35/pcre.h
external/pcre-8.35/pcre_chartables.c
external/pcre-8.35/pcre_scanner_unittest
external/pcre-8.35/pcre_stringpiece.h
external/pcre-8.35/pcre_stringpiece_unittest
external/pcre-8.35/pcrecpp_unittest
external/pcre-8.35/pcrecpparg.h
external/pcre-8.35/pcregrep
external/pcre-8.35/pcretest
external/pcre-8.35/stamp-h1
external/pcre-8.35/autom4te.cache
external/pcre-8.35/config.h.in~
