# Not needed in git repository:
TIMESTAMP

.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.make

bin
external/improv
makelist

hum2allegro.cpp
motive.cpp
rebar.cpp
updown.cpp

external/pcre-8.35/.libs/libpcre.so.1
external/pcre-8.35/.libs/libpcre.so.1.2.3
external/pcre-8.35/.libs/libpcrecpp.so.0
external/pcre-8.35/.libs/libpcrecpp.so.0.0.0
external/pcre-8.35/.libs/libpcreposix.so.0
external/pcre-8.35/.libs/libpcreposix.so.0.0.2
external/pcre-8.35/.libs/pcre_scanner_unittest
external/pcre-8.35/.libs/pcrecpp_unittest
external/pcre-8.35/.libs/pcregrep
external/pcre-8.35/.libs/pcretest
external/pcre-8.35/Makefile
external/pcre-8.35/autom4te.cache/output.3
external/pcre-8.35/autom4te.cache/output.4
external/pcre-8.35/autom4te.cache/output.5
external/pcre-8.35/autom4te.cache/output.6
external/pcre-8.35/autom4te.cache/output.7
external/pcre-8.35/autom4te.cache/output.8
external/pcre-8.35/autom4te.cache/requests
external/pcre-8.35/autom4te.cache/traces.3
external/pcre-8.35/autom4te.cache/traces.4
external/pcre-8.35/autom4te.cache/traces.5
external/pcre-8.35/autom4te.cache/traces.6
external/pcre-8.35/autom4te.cache/traces.7
external/pcre-8.35/autom4te.cache/traces.8
external/pcre-8.35/config.log
external/pcre-8.35/config.status
external/pcre-8.35/pcre_scanner_unittest
external/pcre-8.35/pcre_stringpiece_unittest
external/pcre-8.35/pcrecpp_unittest
external/pcre-8.35/pcregrep
external/pcre-8.35/pcretest
external/pcre2-10.42/.libs
external/pcre2-10.42/Makefile
external/pcre2-10.42/autom4te.cache
external/pcre2-10.42/config.log
external/pcre2-10.42/config.status
external/pcre2-10.42/configure~
external/pcre2-10.42/libpcre2-16.pc
external/pcre2-10.42/libpcre2-32.pc
external/pcre2-10.42/libpcre2-8.pc
external/pcre2-10.42/libpcre2-posix.pc
external/pcre2-10.42/libtool
external/pcre2-10.42/pcre2-config
external/pcre2-10.42/pcre2grep
external/pcre2-10.42/pcre2posix_test
external/pcre2-10.42/pcre2test
external/pcre2-10.42/src/.deps
external/pcre2-10.42/src/.dirstamp
external/pcre2-10.42/src/config.h
external/pcre2-10.42/src/config.h.in~
external/pcre2-10.42/src/pcre2.h
external/pcre2-10.42/src/pcre2_chartables.c
external/pcre2-10.42/src/stamp-h1

